@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


body{
  background-color: #2B283A;
  color: white;
  font-family: "Inter", sans-serif;
}

.App{
  width: 60%;
  margin: 0 auto;
}

.nav{
  font-size: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #F55A5A;
}

.nav--text{
  padding: 0 0.5em;
}

.cardSec{
  background-color: #fff;
  color: #2B283A;
}

.card--hr{
  box-shadow: 0px 5px 10px #000;
  width: 90%;
  margin: 0 auto;
}