.card{
   display: flex;
   width: 80%;
   margin: 0 auto;
   justify-content: center;
   align-items: center;
   padding: 1em 1em;

}

.card--img--img{
    width: 80%;
    border-radius: 10px;
}
.pin{
    color: red;
}
.loc{
    color: #2B283A;
}

a, a:visited{
    color: grey;
}
a:active{
    color: black;
}

.card--title, .card--date{
    font-weight: 700;
}